# Node Modules
node_modules/

# Environment Variables
.env
.env.*
!.env.example

# Playwright Reports
playwright-report*/
test-results/
blob-report/

# Allure Reports
allure-results*/
allure-report/

# Playwright Cache
playwright/.cache/
playwright/.auth/

# Custom Reports
reports/
logs/

# OS Files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/